body {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: #1F2937;
}

.left-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8
}

.right-text {
    display: flex;
    gap: 24px;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.display {
    background-color:#1F2937;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.display .blurb {
    display: flex;
    flex-flow: column nowrap;
    color: #f9faf8;
    width: 400px;
    justify-content: center;
}

.display .blurb h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0px;
}

.display .blurb p {
    font-size: 18px;
    color:#e5e7eb;
}

.display .blurb button {
    width: 136px;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight:500;
}

.display img {
    width: 600px;
}

.info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.info h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800px;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.icons div {
    display: flex;
    flex-flow: column;
    width: 200px;
    padding: 16px;
}

.icons img {
    border-radius: 8px;
}
